* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Helvetica", sans-serif;
}

:root {
  --black: #121212;
  --white: #FFFFFF;
  --lightgray: #EEEEEE;
  --lightgreen: #3BE23B;
  --darkgray: #393E46;
  --navyblue: #222831;
  --h1: clamp(1.5rem, 0.9718rem + 1.6901vw, 3rem);
  --h2: clamp(1.25rem, 0.8979rem + 1.1268vw, 2.25rem);
  --p: clamp(0.875rem, 0.6549rem + 0.7042vw, 1.5rem);
  --a: clamp(0.75rem, 0.618rem + 0.4225vw, 1.125rem);
}

:target {
  scroll-margin-top: 120px;
}

.header {
  height: 130vh;
  width: 100%;
  background-image: url("/img/cover.png");
  background-position: center;
  background-size: cover;
  position: relative;
}
.header .navbar {
  position: fixed;
  width: 100%;
  z-index: 2000;
  padding: 10px 0;
  background: transparent;
  transition: all 0.3s ease;
}
.header .content {
  width: 100%;
  margin: auto;
  padding: 0 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .content .logo h1 {
  font-size: var(--h2);
  font-weight: 800;
  text-transform: uppercase;
}
.header .menu-list {
  display: inline-flex;
  margin: 0;
}
.header .menu-list li {
  list-style: none;
}
.header .menu-list a {
  color: var(--navyblue);
  font-size: var(--a);
  font-weight: 500;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.5s ease;
}
.header .menu-list a:hover {
  color: var(--lightgreen);
}
.header .menu-list .cancel-button {
  position: absolute;
  right: 30px;
  top: 20px;
}
.header .sticky {
  background: var(--white);
  height: 80px;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1019607843);
}
.header .icon {
  color: var(--white);
  font-size: var(--a);
  cursor: pointer;
  display: none;
}

.text-box {
  width: 100%;
  padding: 0 10%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-box .text-box-left h1 {
  color: var(--navyblue);
  font-weight: 800;
  font-size: var(--h1);
}
.text-box .text-box-left span {
  color: var(--lightgreen);
  font-weight: 800;
}
.text-box .text-box-left p {
  font-size: var(--p);
}
.text-box .text-box-left button {
  background-color: var(--navyblue);
  color: var(--white);
  padding: 12px 34px;
  margin-top: 1rem;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s ease;
}
.text-box .text-box-left button:hover {
  background-color: var(--lightgreen);
}
.text-box .text-box-right img {
  width: 40rem;
  margin-left: 1rem;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

@media (max-width: 1024px) and (min-width: 769px) {
  .text-box {
    padding: 0 2rem;
    top: 40%;
  }
  .text-box .text-box-right img {
    width: 30rem;
  }
}
@media (max-width: 800px) {
  .header body.disabled {
    overflow: hidden;
  }
  .header .icon {
    display: block;
  }
  .header .icon.hide {
    display: none;
  }
  .header .navbar i {
    color: var(--navyblue);
  }
  .header .content {
    padding: 1rem 1rem;
  }
  .header .menu-list {
    position: fixed;
    width: 100%;
    left: 0;
    top: -100%;
    display: block;
    padding: 40px 0;
    text-align: center;
    background: var(--navyblue);
    transition: all 0.3s ease;
  }
  .header .menu-list li {
    margin: 3rem 0;
  }
  .header .menu-list a {
    color: var(--navyblue);
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .header .menu-list i {
    float: right;
    margin-right: 2.5rem;
    color: var(--navyblue);
  }
  .header .navbar.show .menu-list {
    left: 0%;
    top: 3.5rem;
    background: var(--white);
  }
  .header .navbar.show .menu-list li a {
    margin-left: 0px;
    font-size: var(--p);
  }
  .text-box {
    padding: 0 2rem;
    top: 40%;
  }
  .text-box .text-box-left p {
    color: var(--navyblue);
  }
  .text-box .text-box-right img {
    width: 25rem;
  }
}
@media (max-width: 500px) {
  .text-box {
    display: block;
    width: 100%;
    padding: 0 2rem;
  }
  .text-box .text-box-left {
    margin-bottom: 2rem;
    text-align: center;
  }
  .text-box .text-box-right img {
    display: none;
  }
}