@import url("header.css");
span {
  color: var(--lightgreen);
}

.work {
  height: 100%;
  padding: 2.5rem 10%;
}
.work .work-title {
  text-align: center;
}
.work .work-title h1 {
  margin-top: 1rem;
  font-size: var(--h1);
  font-weight: 800;
}
.work .work-title p {
  margin-top: 1rem;
  font-size: var(--p);
}
.work .work-subtitle {
  margin: 2.5rem 0;
}
.work .work-subtitle h1 {
  font-size: var(--h1);
  font-weight: 800;
}
.work .order {
  order: 1;
}
.work .work-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5rem 0;
}
.work .work-flex .work-desc {
  margin-left: 1rem;
}
.work .work-flex .work-desc h1 {
  font-size: var(--h1);
  font-weight: 800;
}
.work .work-flex .work-desc p {
  font-size: var(--p);
  margin-top: 1rem;
}
.work .work-flex .work-img img {
  width: 40rem;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

@media (max-width: 800px) and (min-width: 501px) {
  .work {
    padding: 0 2rem;
  }
  .work .work-flex .work-desc {
    margin: 0 1rem;
  }
  .work .work-flex .work-img img {
    width: 25rem;
  }
}
@media (max-width: 500px) {
  .work {
    padding: 0 2rem;
  }
  .work .work-flex {
    display: block;
  }
  .work .work-flex .work-desc {
    margin-bottom: 2rem;
  }
  .work .work-flex .work-img img {
    width: 100%;
  }
}
.benefit {
  height: 100vh;
  padding: 5rem 10%;
}
.benefit .benefit-title {
  text-align: center;
}
.benefit .benefit-title h1 {
  margin-top: 1rem;
  font-size: var(--h1);
  font-weight: 800;
}
.benefit .benefit-title p {
  margin-top: 1rem;
  font-size: var(--p);
}
.benefit .benefit-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.benefit .benefit-flex .benefit-one {
  margin: 2.5rem 0;
  line-height: 3rem;
}
.benefit .benefit-flex .benefit-one i, .benefit .benefit-flex .benefit-one p {
  display: inline-flex;
}
.benefit .benefit-flex .benefit-one i {
  font-size: var(--p);
  background-color: var(--lightgreen);
  padding: 0.5rem 0.5rem;
  border-radius: 50%;
}
.benefit .benefit-flex .benefit-one p {
  font-size: var(--p);
  margin-left: 1rem;
}
.benefit .benefit-flex .benefit-two {
  margin: 2.5rem 0;
  line-height: 3rem;
}
.benefit .benefit-flex .benefit-two i, .benefit .benefit-flex .benefit-two p {
  display: inline-flex;
}
.benefit .benefit-flex .benefit-two i {
  font-size: var(--p);
  background-color: var(--lightgreen);
  padding: 0.5rem 0.5rem;
  border-radius: 50%;
}
.benefit .benefit-flex .benefit-two p {
  font-size: var(--p);
  margin-left: 1rem;
}
.benefit .benefit-flex .benefit-three {
  margin: 2.5rem 0;
  line-height: 3rem;
}
.benefit .benefit-flex .benefit-three i, .benefit .benefit-flex .benefit-three p {
  display: inline-flex;
}
.benefit .benefit-flex .benefit-three i {
  font-size: var(--p);
  background-color: var(--lightgreen);
  padding: 0.5rem 0.5rem;
  border-radius: 50%;
}
.benefit .benefit-flex .benefit-three p {
  font-size: var(--p);
  margin-left: 1rem;
}

@media (max-width: 500px) {
  .benefit {
    height: 100%;
  }
  .benefit .benefit-flex {
    display: block;
    text-align: center;
  }
}
.team {
  padding: 5rem 5%;
}
.team .team-desc {
  text-align: center;
}
.team .team-desc h1 {
  margin-top: 1rem;
  font-size: var(--h1);
  font-weight: 800;
}
.team .team-desc p {
  margin-top: 1rem;
  font-size: var(--p);
}
.team .team-info .row .column {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 1rem;
  justify-content: space-around;
  align-items: center;
}
.team .team-info .row .column .card {
  margin: 1rem 0;
  text-align: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 25rem;
  padding: 1rem 1rem;
}
.team .team-info .row .column .card img {
  width: 100%;
}
.team .team-info .row .column .card h1 {
  margin-top: 1rem;
  font-size: var(--p);
  color: var(--navyblue);
  text-transform: uppercase;
  font-weight: 800;
}
.team .team-info .row .column .card p {
  margin-top: 1rem;
  font-weight: 500;
  color: var(--navyblue);
  font-size: var(--p);
}
.team .team-info .row .column .card .social-links {
  margin-top: 1rem;
}
.team .team-info .row .column .card .social-links a {
  color: var(--navyblue);
  font-size: var(--a);
  margin: 0 1rem;
  transition: 0.5s ease;
}
.team .team-info .row .column .card .social-links a:hover {
  color: var(--lightgreen);
}

@media (max-width: 800px) and (min-width: 501px) {
  .team {
    padding: 5rem 2rem;
  }
  .team .team-info .row .column .card {
    width: 14rem;
  }
}
@media (max-width: 500px) {
  .team {
    padding: 5rem 2rem;
  }
  .team .team-info .row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .team .team-info .row .column {
    display: block;
  }
}
.services {
  padding: 5rem 5%;
  height: 130vh;
  width: 100%;
  background-image: url("/img/cover.png");
  background-position: center;
  background-size: cover;
  position: relative;
}
.services .services-title {
  text-align: center;
}
.services .services-title h1 {
  margin-top: 1rem;
  font-size: var(--h1);
  font-weight: 800;
}
.services .services-title p {
  font-size: var(--p);
  margin-top: 1rem;
}
.services .services-info .row .column {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 1rem;
  justify-content: space-around;
  align-items: center;
}
.services .services-info .row .column .card {
  margin: 1rem 0;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 25rem;
  padding: 1rem 1rem;
}
.services .services-info .row .column .card img {
  width: 100%;
}

@media (max-width: 800px) {
  .services {
    height: 100%;
  }
}
.enjoy {
  padding: 5rem 5%;
  height: 100%;
}
.enjoy .enjoy-title {
  text-align: center;
}
.enjoy .enjoy-title h1 {
  font-size: var(--h1);
  font-weight: 800;
  margin-top: 1rem;
}
.enjoy .enjoy-title p {
  font-size: var(--p);
  margin-top: 1rem;
}
.enjoy .enjoy-title button {
  background-color: var(--navyblue);
  color: var(--white);
  padding: 12px 34px;
  margin-top: 1rem;
  font-size: var(--a);
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s ease;
}
.enjoy .enjoy-title button:hover {
  background-color: var(--lightgreen);
}
.enjoy .order {
  order: 1;
}
.enjoy .text-align {
  text-align: center;
}
.enjoy .enjoy-flex {
  margin: 5rem 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.enjoy .enjoy-flex .enjoy-desc {
  margin-top: 1rem;
  margin-left: 2rem;
}
.enjoy .enjoy-flex .enjoy-desc h1 {
  font-size: var(--h1);
  font-weight: 800;
}
.enjoy .enjoy-flex .enjoy-desc p {
  font-size: var(--p);
  margin-top: 1rem;
}
.enjoy .enjoy-flex .enjoy-desc button {
  background-color: var(--navyblue);
  color: var(--white);
  padding: 12px 34px;
  margin-top: 1rem;
  font-size: var(--a);
  align-items: center;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s ease;
}
.enjoy .enjoy-flex .enjoy-desc button:hover {
  background-color: var(--lightgreen);
}
.enjoy .enjoy-flex .enjoy-desc i {
  margin-left: 1rem;
}
.enjoy .enjoy-flex .enjoy-img img {
  width: 40rem;
  border-radius: 20px;
}

@media (max-width: 800px) and (min-width: 501px) {
  .enjoy {
    padding: 5rem 1rem;
    height: 100%;
  }
  .enjoy .enjoy-flex {
    margin: 5rem 1rem;
  }
  .enjoy .enjoy-flex .enjoy-img img {
    width: 25rem;
  }
}
@media (max-width: 500px) {
  .enjoy {
    height: 100%;
  }
  .enjoy .enjoy-flex {
    display: block;
  }
  .enjoy .enjoy-flex .enjoy-desc {
    margin-bottom: 2rem;
    margin-left: 0;
  }
  .enjoy .enjoy-flex .enjoy-img img {
    width: 100%;
  }
}
.faq .faq-title {
  text-align: center;
}
.faq .faq-title h1 {
  font-size: var(--h1);
  font-weight: 800;
  margin-top: 1rem;
}
.faq .faq-desc {
  padding: 5rem 10%;
}
.faq .faq-desc .row .column {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 1rem;
  justify-content: space-around;
  align-items: center;
}
.faq .faq-desc .row .column .card {
  margin: 1rem 0;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 100%;
  padding: 2rem 2rem;
}
.faq .faq-desc .row .column .card h1 {
  font-size: var(--h1);
  margin-bottom: 1rem;
  color: var(--lightgreen);
}
.faq .faq-desc .row .column .card p {
  font-size: var(--p);
}

@media (max-width: 800px) {
  .faq .faq-desc {
    padding: 5rem 2rem;
  }
}