@import url('header.css');

span {
    color: var(--lightgreen);
}

.work {
    height: 100vh;
    padding: 2.5rem 10%;

    .work-title {
        text-align: center;

        h1 {
            margin-top: 1rem;
            font-size: var(--h1);
            font-weight: 800;
        }

        p {
            margin-top: 1rem;
            font-size: var(--p);
        }
    }

    .work-subtitle {
        margin: 2.5rem 0;

        h1 {
            font-size: var(--h1);
            font-weight: 800;
        }
    }

    .order {
        order: 1;
    }

    .work-flex {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5rem 0;

        .work-desc {
            margin-left: 1rem;

            h1 {
                font-size: var(--h1);
                font-weight: 800;
            }

            p {
                font-size: var(--p);
                margin-top: 1rem;
            }
        }

        .work-img {

            img {
                width: 40rem;
                border-radius: 20px;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            }
        }
    }
}

@media (max-width: 800px) and (min-width: 501px) {
    .work {
        padding: 0 2rem;

        .work-flex {

            .work-desc {
                margin: 0 1rem;
            }

            .work-img {

                img {
                    width: 25rem;
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .work {
        padding: 0 2rem;

        .work-flex {
            display: block;

            .work-desc {
                margin-bottom: 2rem;

            }

            .work-img {

                img {
                    width: 100%;
                }
            }
        }
    }
}